apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: actualserver
    namespace: actualserver
spec:
    interval: 15m
    chart:
        spec:
            chart: actualserver
            version: 15.3.0
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: actualserver
    maxHistory: 3
    install:
        createNamespace: true
        remediation:
            retries: 3
    upgrade:
        cleanupOnFail: true
        remediation:
            retries: 3
    uninstall:
        keepHistory: false
    values:
        TZ: Europe/Madrid
        credentials:
            minio:
                accessKey: ${S3_PVC_ACCESSKEY}
                bucket: backup
                encrKey: ${S3_PVC_ENCRYPTKEY}
                name: minio
                path: ""
                secretKey: ${S3_PVC_SECRETKEY}
                type: s3
                url: ${S3_PVC_URL}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: actual.${DOMAIN_0}
                integrations:
                    certManager:
                        enabled: true
                        certificateIssuer: domain-0-le-prod
                    traefik:
                        enabled: false
        persistence:
            server-files:
                enabled: true
                mountPath: /data/server-files
                readOnly: false
                volsync:
                    - name: server-files
                      type: restic
                      credentials: minio
                      dest:
                          enabled: true
                      src:
                          enabled: true
            user-files:
                enabled: true
                mountPath: /data/user-files
                readOnly: false
                volsync:
                    - name: user-files2
                      type: restic
                      credentials: minio
                      dest:
                        enabled: true
                      src:
                        enabled: true
            data:
                enabled: true
                mountPath: /data
                readOnly: false
                volsync:
                    - name: data
                      type: restic
                      credentials: minio
                      dest:
                        enabled: true
                      src:
                        enabled: true
        release_name: actualserver

        # Add extra Env variables not supported by Truecharts.
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                # OIDC Config
                                ACTUAL_OPENID_DISCOVERY_URL: https://auth.${DOMAIN_0}/.well-known/openid-configuration
                                ACTUAL_OPENID_CLIENT_ID: ${AUTHELIA_CLIENT_ACTUALSERVER_CLIENTID}
                                ACTUAL_OPENID_CLIENT_SECRET: ${AUTHELIA_CLIENT_ACTUALSERVER_SECRET}
                                ACTUAL_OPENID_SERVER_HOSTNAME: https://actual.${DOMAIN_0}
                    # The pod need to resolver auth url so it can get "auth.domain.tld/.well-known/openid-configuration" values.
                    hostAliases:
                        - ip: ${NGINX_EXTERNAL_IP}
                          hostnames:
                            - "auth.${DOMAIN_0}"
