apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: actualserver
    namespace: actualserver
spec:
    interval: 15m
    chart:
        spec:
            chart: actualserver
            version: 14.15.0
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: actualserver
    maxHistory: 3
    install:
        createNamespace: true
        remediation:
            retries: 3
    upgrade:
        cleanupOnFail: true
        remediation:
            retries: 3
    uninstall:
        keepHistory: false
    values:
        TZ: Europe/Madrid
        credentials:
            minio:
                accessKey: ${S3_PVC_ACCESSKEY}
                bucket: backup
                encrKey: ${S3_PVC_ENCRYPTKEY}
                name: minio
                path: ""
                secretKey: ${S3_PVC_SECRETKEY}
                type: s3
                url: ${S3_PVC_URL}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: actual.${DOMAIN_0}
                integrations:
                    certManager:
                        enabled: true
                        certificateIssuer: domain-0-le-prod
                    traefik:
                        enabled: false
        persistence:
            server-files:
                enabled: true
                mountPath: /data/server-files
                readOnly: false
                volsync:
                    - name: server-files
                      type: restic
                      credentials: minio
                      dest:
                        enabled: true
                      src:
                        enabled: true
            user-files:
                enabled: true
                mountPath: /data/user-files
                readOnly: false
                volsync:
                    - name: user-files2
                      type: restic
                      credentials: minio
                      dest:
                        enabled: true
                      src:
                        enabled: true
            data:
                enabled: true
                mountPath: /data
                readOnly: false
                volsync:
                    - name: data
                      type: restic
                      credentials: minio
                      dest:
                        enabled: true
                      src:
                        enabled: true
        release_name: actualserver