apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: mongodb
    namespace: mongodb
spec:
    interval: 15m
    chart:
        spec:
            chart: mongodb
            version: 16.14.21
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: mongodb
    maxHistory: 3
    install:
        createNamespace: true
        remediation:
            retries: 3
    upgrade:
        cleanupOnFail: true
        remediation:
            retries: 3
    uninstall:
        keepHistory: false
    values:
        TZ: Europe/Madrid
        credentials:
            minio:
                accessKey: ${S3_PVC_ACCESSKEY}
                bucket: backup
                encrKey: ${S3_PVC_ENCRYPTKEY}
                name: minio
                path: ""
                secretKey: ${S3_PVC_SECRETKEY}
                type: s3
                url: ${S3_PVC_URL}
        persistence:
            data:
                enabled: true
                mountPath: "/bitnami/mongodb"
                readOnly: false
                volsync:
                    - name: data
                      type: restic
                      credentials: minio
                      dest:
                        enabled: true
                      src:
                        enabled: true
        service:
            main:
                type: LoadBalancer
                loadBalancerIP: ${MONGODB_IP}
                ports:
                    main:
                        port: 27017
                        targetPort: 27017
                integrations:
                    metallb:
                        enabled: true
        mongodbUsername: "test"
        mongodbDatabase: "test"
        password: ${MONGODB_PASS}
        rootPassword: ${MONGODB_ROOT_PASS}