apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: gitea
    namespace: gitea
spec:
    interval: 15m
    chart:
        spec:
            chart: gitea
            version: 22.27.22
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: gitea
    timeout: 15m
    maxHistory: 3
    install:
        createNamespace: true
        remediation:
            retries: 3
    upgrade:
        cleanupOnFail: true
        remediation:
            retries: 3
    uninstall:
        keepHistory: false
    values:
        TZ: Europe/Madrid
        podOptions:
            hostUsers: true
        # --  memcached dependency settings
        memcached:
            podOptions:
                hostUsers: true
        admin:
            email: ${GITEA_ADMIN_EMAIL}
            password: ${GITEA_ADMIN_PASS}
            username: ${GITEA_ADMIN_USERNAME}
        cnpg:
            main:
                backups:
                    enabled: true
                    revision: "5"
                    credentials: minioCNPG
                    retentionPolicy: "30d"
                recovery:
                    enabled: true
                    revision: "4"
                    credentials: minioCNPG
                    method: object_store
                cluster:
                    instances: 2
                    singleNode: true
                database: gitea
                user: gitea
                enabled: true
                hibernate: false
                mode: recovery
                monitoring:
                    disableDefaultQueries: false
                    enablePodMonitor: true
                password: PLACEHOLDERPASSWORD
                pgVersion: 15
        config:
            ALLOWED_HOST_LIST: 127.0.0.1
            APP_NAME: Gitea
            RUN_MODE: prod
            nodeIP: ${VIP}
        credentials:
            backblaze:
                accessKey: ${S3_BACKBLAZE_ACCESSKEY}
                bucket: ${S3_BACKBLAZE_BUCKET}
                encrKey: ${S3_BACKBLAZE_ENCRYPTKEY}
                name: backblaze
                path: ""
                secretKey: ${S3_BACKBLAZE_SECRETKEY}
                type: s3
                url: ${S3_BACKBLAZE_URL}
            minio:
                name: minio
                url: ${S3_PVC_URL}
                bucket: backup
                encrKey: ${S3_PVC_ENCRYPTKEY}
                path: ""
                accessKey: ${S3_PVC_ACCESSKEY}
                secretKey: ${S3_PVC_SECRETKEY}
                type: s3
            minioCNPG:
                name: minioCNPG
                url: ${S3_CNPG_MINIO_URL}
                bucket: ${S3_CNPG_MINIO_BUCKET}
                encrKey: ${S3_CNPG_MINIO_ENCRYPTKEY}
                path: ""
                accessKey: ${S3_CNPG_MINIO_ACCESSKEY}
                secretKey: ${S3_CNPG_MINIO_SECRETKEY}
                type: s3
        customConfig:
            - keys:
                  - name: DISABLE_REGISTRATION
                    value: "true"
              name: service
            - keys:
                  - name: ENABLED
                    value: "true"
                  - name: SMTP_ADDR
                    value: ${SMTP_ADDR}
                  - name: SMTP_PORT
                    value: ${SMTP_PORT}
                  - name: FROM
                    value: ${GITEA_MAILER_FROM}
                  - name: USER
                    value: ${SMTP_USER}
                  - name: PASSWD
                    value: ${SMTP_PASSWD}
              name: mailer
            - keys:
                  - name: SSH_DOMAIN
                    value: "giteassh.${DOMAIN_0}"
              name: server
        ingress:
            main:
                enabled: true
                ingressClassName: external
                hosts:
                    - host: gitea.${DOMAIN_0}
                integrations:
                    certManager:
                        enabled: true
                        certificateIssuer: domain-0-le-prod
                    traefik:
                        enabled: false
        persistence:
            data:
                enabled: true
                mountPath: /data
                readOnly: false
                storageClass: ""
                targetSelectAll: true
                volsync:
                    - name: app
                      type: restic
                      credentials: minio
                      dest:
                          enabled: true
                      src:
                          enabled: true
        release_name: gitea
        service:
            ssh:
                enabled: true
                type: LoadBalancer
                loadBalancerIP: ${GITEA_SSH_IP}
                integrations:
                    metallb:
                        enabled: true
                ports:
                    ssh:
                        enabled: true
                        port: 2222
                        targetPort: 2222
