apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-configfile-test
  namespace: authelia
data:
  configuration.yaml: |
    session:
      # Be sure to change this to your domain. You can also define multiple domains
      cookies:
        - domain: ${DOMAIN_0}
          authelia_url: https://auth.${DOMAIN_0}
    authentication_backend:
      # lldap setup
      # https://github.com/lldap/lldap/blob/main/example_configs/authelia.md
      ldap:
        implementation: lldap
        address: "ldap://${LLDAP_IP}:3890"
        base_dn: ${LDAP_BASEDN}
        user: uid=${AUTHELIA_LDAP_USERID},ou=people,${LDAP_BASEDN}
        # user with lldap_password_manager group
        # above user password in plain text
        password: ${AUTHELIA_LDAP_PASSWORD}
    notifier:
      # smtp setup
      smtp:
        address: "submissions://${SMTP_ADDR}:465"
        username: ${SMTP_USER}
        password: "${SMTP_PASSWD}"
        # email address to show as sender
        sender: "Authelia <no-reply@${DOMAIN_0}>"
        tls:
          server_name: ${SMTP_ADDR}
          skip_verify: false
    access_control:
      default_policy: "deny"
      rules:
        # basic rule for one factor (username/password) login for users in the admin group
        - domain:
            - "*.${DOMAIN_0}"
            - ${DOMAIN_0}
          policy: one_factor
          subject: "group:admin"
    log:
      level: "debug"
    identity_providers:
      oidc:
        ## The other portions of the mandatory OpenID Connect 1.0 configuration go here.
        ## See: https://www.authelia.com/c/oidc
        hmac_secret: {{ secret "/config/secret/hmac_secret" }}
        jwks:
          - key: {{ secret "/config/secret/jwks_key.pem" | mindent 10 "|" | msquote }}
        ## Client configurations
        authorization_policies:
          actual:
            default_policy: "deny"
            rules:
              - policy: "one_factor"
                subject: "group:user_actual"
              - policy: "one_factor"
                subject: "group:admin"
          homebox:
            default_policy: "deny"
            rules:
              - policy: "one_factor"
                subject: "group:user_homebox"
              - policy: "one_factor"
                subject: "group:admin"
          adventurelog:
            default_policy: "deny"
            rules:
              - policy: "two_factor"
                subject: "group:user_adventurelog"
              - policy: "two_factor"
                subject: "group:admin"
        clients:
          - client_id: {{ secret "/config/secret/clients_actualserver_client_id" }}
            client_name: "Actual-Budget"
            client_secret: {{ secret "/config/secret/clients_actualserver_client_secret" }}
            public: false
            authorization_policy: "actual"
            require_pkce: false
            pkce_challenge_method: ""
            redirect_uris:
              - "https://actual.${DOMAIN_0}/openid/callback"
            scopes:
              - "openid"
              - "profile"
              - "groups"
              - "email"
            response_types:
              - "code"
            grant_types:
              - "authorization_code"
            token_endpoint_auth_method: "client_secret_basic"
          - client_id: {{ secret "/config/secret/clients_homebox_client_id" }}
            client_name: "Homebox"
            client_secret: {{ secret "/config/secret/clients_homebox_client_secret" }}
            public: false
            authorization_policy: "homebox"
            require_pkce: false
            pkce_challenge_method: ""
            redirect_uris:
              - "https://homebox.${DOMAIN_0}/api/v1/users/login/oidc/callback"
            scopes:
              - "openid"
              - "profile"
              - "groups"
              - "email"
            response_types:
              - "code"
            token_endpoint_auth_method: "client_secret_post"
          - client_id: {{ secret "/config/secret/clients_adventurelog_client_id" }}
            client_name: "AdventureLog"
            client_secret: {{ secret "/config/secret/clients_adventurelog_client_secret" }}
            public: false
            authorization_policy: "adventurelog"
            require_pkce: false
            pkce_challenge_method: ""
            redirect_uris:
              - "https://adventure-api.${DOMAIN_0}/accounts/oidc/authelia/login/callback/"
              - "https://adventure-api.${DOMAIN_0}/accounts/oidc/adventurelog/login/callback/"  # Note: this is the workaround redirect_uri.
            scopes:
              - "openid"
              - "profile"
              - "email"
            response_types:
              - "code"
