apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: authelia
    namespace: authelia
spec:
    interval: 15m
    chart:
        spec:
            chart: authelia
            version: 29.27.9
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: authelia
    maxHistory: 3
    install:
        createNamespace: true
        remediation:
            retries: 3
    upgrade:
        cleanupOnFail: true
        remediation:
            retries: 3
    uninstall:
        keepHistory: false
    values:
        TZ: Europe/Madrid
        credentials:
            minio:
                accessKey: ${S3_PVC_ACCESSKEY}
                bucket: backup
                encrKey: ${S3_PVC_ENCRYPTKEY}
                name: minio
                path: ""
                secretKey: ${S3_PVC_SECRETKEY}
                type: s3
                url: ${S3_PVC_URL}
            minioCNPG:
                name: minioCNPG
                url: ${S3_CNPG_MINIO_URL}
                bucket: ${S3_CNPG_MINIO_BUCKET}
                encrKey: ${S3_CNPG_MINIO_ENCRYPTKEY}
                path: ""
                accessKey: ${S3_CNPG_MINIO_ACCESSKEY}
                secretKey: ${S3_CNPG_MINIO_SECRETKEY}
                type: s3
        cnpg:
            main:
                enabled: true
                hibernate: false
                #mode: recovery
                cluster:
                    singleNode: true
                backups:
                    credentials: minioCNPG
                    retentionPolicy: "14d"
                recovery:
                    credentials: minioCNPG
                    method: object_store
        ingress:
            main:
                enabled: true
                ingressClassName: "external"
                hosts:
                    - host: auth.${DOMAIN_0}
                      paths:
                          - path: /
                            pathType: Prefix
                integrations:
                    nginx:
                        enabled: true
                    certManager:
                        enabled: true
                        certificateIssuer: domain-0-le-prod
        persistence:
            config:
                volsync:
                    - name: config
                      type: restic
                      credentials: minio
                      dest:
                          enabled: true
                      src:
                          enabled: false
            secrets:
                enabled: true
                type: secret
                objectName: authelia-oidc-secret
                expandObjectName: false
                mountPath: /config/secret
                readOnly: true
            configfile:
                enabled: true
                type: configmap
                objectName: authelia-configfile
                expandObjectName: false
                mountPath: /configuration.yaml
                subPath: configuration.yaml
                readOnly: true
            testconfig:
                enabled: true
                type: configmap
                objectName: authelia-configfile-test
                expandObjectName: false
                mountPath: /config-test.yaml
                subPath: configuration.yaml
                readOnly: true
        release_name: authelia
        workload:
            main:
                replicas: 1
                podSpec:
                    containers:
                        main:
                            env:
                                # Update the following secrets with your own values
                                AUTHELIA_SESSION_SECRET: ${AUTHELIA_SESSION_SECRET}
                                AUTHELIA_STORAGE_ENCRYPTION_KEY: ${AUTHELIA_STORAGE_KEY}
                                AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET: ${AUTHELIA_JWT_SECRET}
                                X_AUTHELIA_CONFIG_FILTERS: template

        # Disable default Authelia config file as we use a custom ConfigMap instead.
        secret:
            authelia-configfile:
                enabled: false

        # All configuration options should be put under this. Supports all upstream options
        # This options won't work as we use a custom configmap for Authelia config.
        # authelia:
