apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: authelia
    namespace: authelia
spec:
    interval: 15m
    chart:
        spec:
            chart: authelia
            version: 29.27.6
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: authelia
    maxHistory: 3
    install:
        createNamespace: true
        remediation:
            retries: 3
    upgrade:
        cleanupOnFail: true
        remediation:
            retries: 3
    uninstall:
        keepHistory: false
    values:
        TZ: Europe/Madrid
        credentials:
            minio:
                accessKey: ${S3_PVC_ACCESSKEY}
                bucket: backup
                encrKey: ${S3_PVC_ENCRYPTKEY}
                name: minio
                path: ""
                secretKey: ${S3_PVC_SECRETKEY}
                type: s3
                url: ${S3_PVC_URL}
            minioCNPG:
                name: minioCNPG
                url: ${S3_CNPG_MINIO_URL}
                bucket: ${S3_CNPG_MINIO_BUCKET}
                encrKey: ${S3_CNPG_MINIO_ENCRYPTKEY}
                path: ""
                accessKey: ${S3_CNPG_MINIO_ACCESSKEY}
                secretKey: ${S3_CNPG_MINIO_SECRETKEY}
                type: s3
        cnpg:
            main:
                enabled: true
                hibernate: false
                #mode: recovery
                cluster:
                    singleNode: true
                backups:
                    credentials: minioCNPG
                    retentionPolicy: "14d"
                recovery:
                    credentials: minioCNPG
                    method: object_store
        ingress:
            main:
                enabled: true
                ingressClassName: "external"
                hosts:
                    - host: auth.${DOMAIN_0}
                      paths:
                          - path: /
                            pathType: Prefix
                integrations:
                    nginx:
                        enabled: true
                    certManager:
                        enabled: true
                        certificateIssuer: domain-0-le-prod
        persistence:
            config:
                volsync:
                    - name: config
                      type: restic
                      credentials: minio
                      dest:
                          enabled: true
                      src:
                          enabled: false
        release_name: authelia
        workload:
            main:
                replicas: 1
                podSpec:
                containers:
                    main:
                        env:
                            # Update the following secrets with your own values
                            AUTHELIA_SESSION_SECRET: ${AUTHELIA_SESSION_SECRET}
                            AUTHELIA_STORAGE_ENCRYPTION_KEY: ${AUTHELIA_STORAGE_KEY}
                            AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET: ${AUTHELIA_JWT_SECRET}

        # All configuration options should be put under this. Supports all upstream options
        authelia:
            session:
                # Be sure to change this to your domain. You can also define multiple domains
                cookies:
                    - domain: ${DOMAIN_0}
                      authelia_url: https://auth.${DOMAIN_0}
            authentication_backend:
                # lldap setup
                # https://github.com/lldap/lldap/blob/main/example_configs/authelia.md
                ldap:
                    implementation: lldap
                    address: "ldap://${LLDAP_IP}:3890"
                    base_dn: ${LDAP_BASEDN}
                    user: uid=${AUTHELIA_LDAP_USERID},ou=people,${LDAP_BASEDN}
                    # user with lldap_password_manager group
                    # above user password in plain text
                    password: ${AUTHELIA_LDAP_PASSWORD}
            notifier:
                # smtp setup
                smtp:
                    address: "submissions://${SMTP_ADDR}:465"
                    username: ${SMTP_USER}
                    password: "${SMTP_PASSWD}"
                    # email address to show as sender
                    sender: "Authelia <no-reply@${DOMAIN_0}>"
                    tls:
                        server_name: ${SMTP_ADDR}
                        skip_verify: false
            access_control:
                default_policy: "deny"
                rules:
                    # basic rule for one factor (username/password) login for users in the admin group
                    - domain:
                          - "*.${DOMAIN_0}"
                          - ${DOMAIN_0}
                      policy: one_factor
                      subject: "group:admin"
            log:
                level: "debug"
