apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-adventurelog-back
  namespace: external-app
spec:
  interval: 15m
  chart:
    spec:
      chart: external-service
      version: 16.14.16
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: external-adventurelog-back
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    service:
      main:
        type: ExternalIP
        externalIP: ${TRUENAS_IP}
        ports:
          main:
            protocol: http
            port: ${EXTERNALAPP_ADVENTURELOG_BACK_PORT}
            # Target port is the port of the "external service"
            # Defaults to "port" if not set
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: adventure-api.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          traefik:
            enabled: false
