apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homebox
  namespace: homebox
spec:
  interval: 15m
  chart:
    spec:
      chart: homebox
      version: 9.15.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: homebox
  timeout: 5m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Madrid
    credentials:
      minio:
        name: minio
        type: s3
        bucket: backup
        path: ""
        url: ${S3_PVC_URL}
        accessKey: ${S3_PVC_ACCESSKEY}
        encrKey: ${S3_PVC_ENCRYPTKEY}
        secretKey: ${S3_PVC_SECRETKEY}
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: homebox.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          nginx:
            enabled: true
    persistence:
      data:
        volsync:
          - name: data
            type: restic
            credentials: minio
            dest:
              enabled: true
            src:
              enabled: false

    # Add extra Env variables not supported by Truecharts.
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                # OIDC Config
                HBOX_OIDC_ENABLED: true
                HBOX_OIDC_ISSUER_URL: auth.${DOMAIN_0}
                HBOX_OIDC_CLIENT_ID: ${AUTHELIA_CLIENT_HOMEBOX_CLIENTID}
                HBOX_OIDC_CLIENT_SECRET: ${AUTHELIA_CLIENT_HOMEBOX_SECRET}
                HBOX_OPTIONS_TRUST_PROXY: true
                HBOX_OIDC_BUTTON_TEXT: "Sign in with Authelia"

    # Homebox config
    homebox:
      allow_registration: false
