apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: homebox
    namespace: homebox
spec:
    interval: 15m
    chart:
        spec:
            chart: homebox
            version: 9.14.5
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: homebox
    timeout: 5m
    maxHistory: 3
    install:
        createNamespace: true
        remediation:
            retries: 3
    upgrade:
        cleanupOnFail: true
        remediation:
            retries: 3
    uninstall:
        keepHistory: false
    values:
        TZ: Europe/Madrid
        credentials:
            minio:
                name: minio
                type: s3
                bucket: backup
                path: ""
                url: ${S3_PVC_URL}
                accessKey: ${S3_PVC_ACCESSKEY}
                encrKey: ${S3_PVC_ENCRYPTKEY}
                secretKey: ${S3_PVC_SECRETKEY}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: homebox.${DOMAIN_0}
                integrations:
                    certManager:
                        enabled: true
                        certificateIssuer: domain-0-le-prod
                    nginx:
                        enabled: true
        persistence:
            data:
                volsync:
                    - name: data
                      type: restic
                      credentials: minio
                      dest:
                          enabled: true
                      src:
                          enabled: false

        # Homebox config
        homebox:
            allow_registration: false
