apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  interval: 15m
  chart:
    spec:
      chart: jellyfin
      version: 22.2.16
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: jellyfin
  timeout: 10m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: Europe/Madrid
    credentials:
      minio:
        name: minio
        type: s3
        bucket: backup
        path: ""
        url: ${S3_PVC_URL}
        accessKey: ${S3_PVC_ACCESSKEY}
        encrKey: ${S3_PVC_ENCRYPTKEY}
        secretKey: ${S3_PVC_SECRETKEY}
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: jelly.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          nginx:
            enabled: true
    persistence:
      config:
        volsync:
          - name: app
            type: restic
            credentials: minio
            dest:
              enabled: true
            src:
              enabled: true
      data:
        volsync:
          - name: data
            type: restic
            credentials: minio
            dest:
              enabled: true
            src:
              enabled: true
      media:
        enabled: true
        path: /mnt/MainPool/Media
        mountPath: /Media
        readOnly: false
        server: ${TRUENAS_IP}
        type: nfs

    # -- enable Jellyfin autodiscovery on LAN
    autodiscovery:
      enabled: false
