apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: jellyfin
    namespace: jellyfin
spec:
    interval: 15m
    chart:
        spec:
            chart: jellyfin
            version: 22.2.11
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: jellyfin
    timeout: 10m
    maxHistory: 3
    install:
        createNamespace: true
        remediation:
            retries: 3
    upgrade:
        cleanupOnFail: true
        remediation:
            retries: 3
    uninstall:
        keepHistory: false
    values:
        TZ: Europe/Madrid
        credentials:
            minio:
                accessKey: ${S3_PVC_ACCESSKEY}
                bucket: backup
                encrKey: ${S3_PVC_ENCRYPTKEY}
                name: minio
                path: ""
                secretKey: ${S3_PVC_SECRETKEY}
                type: s3
                url: ${S3_PVC_URL}
        ingress:
            main:
                enabled: true
                ingressClassName: external
                hosts:
                    - host: jelly.${DOMAIN_0}
                integrations:
                    certManager:
                        enabled: true
                        certificateIssuer: domain-0-le-prod
                    traefik:
                        enabled: false
        persistence:
            config:
                volsync:
                    - name: app
                      type: restic
                      credentials: minio
                      dest:
                          enabled: false
                      src:
                          enabled: false
            media:
                enabled: true
                path: /mnt/MainPool/Media
                mountPath: /Media
                readOnly: false
                server: ${TRUENAS_IP}
                type: nfs

        # Use old config directories for data migration (chart v22.x.x)
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                JELLYFIN_DATA_DIR: /config
                                JELLYFIN_CONFIG_DIR: /config/config
                                JELLYFIN_LOG_DIR: /config/log

        # -- enable Jellyfin autodiscovery on LAN
        autodiscovery:
            enabled: false
        release_name: jellyfin
